[Unit]
Description=NSO GameCube Controller Daemon
After=bluetooth.service

[Service]
Type=simple
User=root
ExecStartPre=/usr/bin/systemctl mask --runtime --now bluetooth.service
ExecStart=/usr/local/bin/nsogcd
ExecStopPost=-/usr/bin/systemctl unmask --runtime bluetooth.service
ExecStopPost=-/usr/bin/systemctl --no-block start bluetooth.service
Restart=on-failure
RestartSec=10
TimeoutStartSec=300
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
